<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{is_granted('ROLE_ADMIN') ? 'Admin' : "User"}} :: {% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body style="background-color:#e5edf9">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
