{% extends 'base.html.twig' %}

{% block title %}
	BOOOKs
{% endblock %}

{% block body %}

<div style="width:100%">
	<div style="margin-left:20px;float:left">
		<a href="{{ path("homepage") }}">Books</a>
	</div>
	<div style="margin-right:20px;float:right">
		<a href="{{ path('fos_user_security_logout') }}">Logout</a>
	</div>
</div>

<center>
	<div>
		<br>
		<table style="border:1px orange solid;border-radius:3px">
			<tr>
				<th class="rowTh">{{ books[0].bname }}</th>
			</tr>
				{% for book in books %}
					{% for genre in book.relation %}
						<tr><td class='rowTd'>{{ genre.genre['gname'] }}</td></tr>
					{% endfor %}
				{% endfor %}
		</table>
	</div>
</center>
	
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<style>
	.rowTh{
		text-align:center;
		width:200px;
		height:35px;
		border-bottom:1px gray solid;
	}
	.rowTd{
		text-align:center;
		width:200px;
		height:35px;
		border-bottom:1px gray solid;
	}
</style>
{% endblock %}
